@use "../abstracts/" as *;

.wrapper {
  display: grid;
  grid-template-columns: 1fr calc(100% - rem(64)) 1fr;

  @include breakpoint-up(medium) {
    grid-template-columns: 1fr min(calc(100% - rem(80)), rem(1110)) 1fr;
  }

  &.small {
    @include breakpoint-both(medium) {
      grid-template-columns: 1fr min(calc(100% - rem(200)), rem(1110)) 1fr;
    }
  }

  &.fb-col {
    display: grid;
    grid-template-columns: 1fr repeat(3, calc(calc(100% - rem(64)) / 3)) 1fr;

    @include breakpoint-up(medium) {
      grid-template-columns: 1fr repeat(6, calc(calc(100% - rem(80)) / 6)) 1fr;
    }

    @include breakpoint-up(large) {
      grid-template-columns: 1fr repeat(12, calc(calc(rem(1110)) / 12)) 1fr;
    }
  }

  > * {
    grid-column: 2;
  }

  > .fullbleed {
    grid-column: 1 / -1;
  }
}
